PORT=5000
MONGO_URI=mongodb://localhost:27017/hari-collection
JWT_SECRET=supersecretjwtkey
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
CLOUDINARY_CLOUD_NAME=dyw43cu6u
CLOUDINARY_API_KEY=323489141273585
CLOUDINARY_API_SECRET=Q9z-Nff1K8OSntI3T89stT6RqI4
EMAIL_USER=rrawat2978@gmail.com
EMAIL_PASS=Giteshsorout2005@@
